body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

img {
    width : 100%;
    height : 300px;
    padding : 5px;
}

div {
    padding: 10px;
    font-size: 8px;
}

a{
    color: black;
}

a:hover {
    color: black;
}

.div-texts {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
}

.div-main-article{
    height:300px;
}

.div-articles-height{
    height:100px;
}